<template>
  <div class="home">
    <!-- <HelloWorld msg="Welcome to Your Vue.js App"/> -->
    <ImgGrid/>
  </div>
</template>

<script>
// @ is an alias to /src
import ImgGrid from '@/components/ImgGrid.vue'

export default {
  name: 'home',
  components: {
    ImgGrid
  }
}
</script>
