<template>
  <main id="grid">
    <div class="container wrapper w-flex">
      <div class="cards w-grid">
        <div v-for="(img, index) in getAllImg" :key="index" @click="showModal(img)">
          <img :src="img.url" alt="">
        </div>
      </div>
      <button class="more"
      :disabled="disabledButton === true"
      @click="getImgs">Mostrar más</button>
    </div>
    <Modal
    v-if="showmodal"
    :image='modalImg'
    @close-modal="closeModal()"/>
  </main>
</template>

<script>
import axios from 'axios'
import Modal from './Modal.vue'

export default {
  name: 'imggrid',
  components: {
    Modal
  },
  data(){
    return{
      modalImg: null,
      showmodal: false
    }
  },
  computed: {
    getAllImg: function(){
      return this.$store.getters.getAllImgs;
    },
    disabledButton: function(){
      return this.$store.getters.getNumPages;
    }
  },
  created(){
    this.getImgs();
  },
  methods: {
    getImgs: async function(){
      this.$store
        .dispatch('getImgs', {params: this.$store.state.queryParams, action: 'push'});
    },
    showModal: function(img){
      this.modalImg = img;
      this.showmodal = true;
    },
    closeModal: function(){
      this.modalImg = null;
      this.showmodal = false;
    }
  },

}
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/main.scss";

#grid{
  padding-top: 100px;
  padding-bottom: 50px;
  .container{
    width: $col*4.5;
    flex-direction: column;
    .cards{
      width: $col*4.5;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1px;
      div{
        position: relative;
        cursor: pointer;
        &:after{
          content: "";
          display: block;
          padding-bottom: 100%;
        }
        img{
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .more{
      margin: auto;
      margin-top: 30px;
      padding: 10px 15px;
      font-size: 20px;
      color: $gris;
      background-color: $light_gray2;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  @include tablet-landscape(){
    padding-top: 150px;
    padding-bottom: 100px;
    .container{
      width: $col-big*6;
      .cards{
        width: $col-big*6;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        div{
          // &:after{
          //   content: "";
          //   display: block;
          //   padding-bottom: 100%;
          // }
          img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
      }
      .more{
        margin: auto;
        margin-top: 50px;
        padding: 15px 40px;
        font-size: 20px;
      }
    }
  }
}
</style>
