<template>
  <section id="modal" @click.self="$emit('close-modal')" class="w-flex">
    <div class="container wrapper w-flex">
      <span @click="$emit('close-modal')"><i class="fas fa-times"></i></span>
      <img :src="image.url" alt="">
    </div>
  </section>
</template>

<script>
export default {
  name: 'modal',
  props: {
    image: null
  }
}
</script>

<style lang="scss" scoped>
@import "~@/assets/styles/main.scss";

#modal{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.9);
  flex-direction: column;
  justify-content: center;
  z-index: 11;
  .container{
    position: relative;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    max-width: 80vw;
    span{
      position: absolute;
      color: white;
      font-size: 30px;
      right: 5px;
      cursor: pointer;
    }
    img{
      width: 100%;
      max-width: 80vw;
    }
  }
  @include tablet-portrait(){
    .container{
      position: relative;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      max-height: 80vh;
      span{
        position: absolute;
        color: white;
        font-size: 40px;
        right: 10px;
      }
      img{
        height: 100%;
        max-height: 80vh;
      }
    }
  }
  @include tablet-landscape(){
    .container{
      position: relative;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      max-height: 80vh;
      span{
        position: absolute;
        color: white;
        font-size: 40px;
        right: 10px;
      }
      img{
        height: 100%;
        max-height: 80vh;
      }
    }
  }
}
</style>
