<template>
  <div id="app">
    <header id="nav">
      <nav class="wrapper w-flex">
        <router-link to="/" class="logo">Catstagram</router-link>
        <div class="search-bar w-flex">
          <div class="container w-flex" :class="{'searching': search}">
            <i v-if="!search" class="fa fa-search" @click="openSearch"></i>
            <i v-else class="fas fa-times" @click="openSearch"></i>
            <div class="searchbox w-flex" v-if="search">
              <label for="breed">Raza:</label>
              <select type="search" name="breed"
              v-model="selectedBreed"
              @change="searchBreed">
                <option value="">Todos</option>
                <option
                v-for="(breed, index) in breeds"
                :key="index"
                :value="breed.id">
                  {{breed.name}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="views w-flex">
          <router-link to="/"><i class="fas fa-th"></i></router-link>
          <router-link to="/favs"><i class="fas fa-heart"></i></router-link>
        </div>
      </nav>
    </header>
    <router-view/>
  </div>
</template>

<script>
export default {
  data(){
    return{
      search: false,
      breeds: [],
      selectedBreed: '',
    }
  },
  beforeMount(){
    this.getBreeds();
  },
  methods: {
    openSearch: function(){
      this.search = !this.search;
    },
    getBreeds: function(){
      this.$store
        .dispatch('getBreeds')
        .then(() => {
          this.breeds = this.$store.getters.getAllBreeds;
        })
    },
    searchBreed: function(){
      this.$store
      .dispatch('fetchBreed', this.selectedBreed);
    }
  }
}
</script>


<style lang="scss">
@import "~@/assets/styles/main.scss";

html, body, #app {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0px;
}
#nav {
  width: 100%;
  background-color: $light_gray;
  position: fixed;
  top: 0px;
  z-index: 10;
  nav{
    height: 70px;
    justify-content: space-between;
    align-items: center;
    a{
      color: $gris;
      text-decoration: none;
      font-size: 20px;
    }
    .logo{
      font-family: 'Pacifico', cursive;
    }
    .search-bar{
      width: $col*2;
      justify-content: center;
      .container{
        border: 3px solid $light_gray2;
        color: $gris;
        background-color: $light_gray2;
        font-size: 18px;
        align-items: center;
        width: 18px;
        transition: width .3s ease-out;
        &.searching{
          width: $col*2;
        }
        .fa-search, .fa-times{
          cursor: pointer;
        }
        .searchbox{
          width: inherit;
          margin-left: 10px;
          justify-content: center;
          label{
            font-size: 18px;
            display: none;
          }
          select{
            width: $col*1.5;
            color: $gris;
            border: none;
            background-color: transparent;
            font-size: 18px;
            cursor: pointer;
          }
        }
      }
    }
    .views{
      width: $col*0.9;
      justify-content: space-around;
      .router-link-exact-active {
        color: #42b983;
      }
    }
    @include tablet-landscape(){
      justify-content: space-around;
      height: 100px;
      a{
        font-size: 40px;
      }
      .search-bar{
        width: $col-big*3;
        .container{
          font-size: 20px;
          padding: 5px 10px;
          &.searching{
            width: $col-big*3;
          }
          .searchbox{
            margin-left: 10px;
            label{
              font-size: 20px;
            }
            select{
              width: auto;
              margin-left: 5px;
              font-size: 20px;
            }
          }
        }
      }
      .views{
        width: $col-big;
        justify-content: space-around;
      }
    }
  }
}
</style>
