@mixin phone-landscape {
  @media (min-width: 576px) and (max-width: 991.98px) and (max-height: 767.98px) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

// Layout
$col: 100vw/5;
$col-big: 100vw/14;

.wrapper{
  margin: 0px auto;
  width: $col*4.5;
  @include tablet-landscape(){
    width: $col-big*12;
    .wrapper{
      margin: auto $col-big;
      width: auto;
    }
  }
}

.w-grid{
  display: grid;
}
.w-flex{
  display: flex;
}