// @font-face {
//   font-family: "lubalin-regular";
//   src: url('~@/assets/fonts/ITC_Lubalin_Graph_LT_Book.ttf');
//   font-style: normal;
//   font-weight: 300;
// }
// @font-face {
//   font-family: "lubalin-bold";
//   src: url('~@/assets/fonts/ITC_Lubalin_Graph_LT_Demi.ttf');
//   // font-style: bold;
//   // font-weight: 700;
// }
// @font-face {
//   font-family: "rounded-elegance";
//   src: url('~@/assets/fonts/Rounded_Elegance.ttf');
// }
// @font-face {
//   font-family: "amarillo-regular";
//   src: url('~@/assets/fonts/Amarillo.ttf');
// }

@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Pacifico|Source+Sans+Pro:400,700');